.row {
	display : flex;
}

.grid {
	
}

.cell {
	border: solid 1px #2F333D;
	border-radius : 2px;
	padding : 0.5em 0.5em;
	width : 0.3em;
	height : 0.3em;
	margin : 0.2em 0.2em;
}

.cell.dead {
	background-color :  white;
}

.cell.alive {
	background-color :#282C34;
}